<div class="row">
    <div class="col-md-4 mx-auto" style="margin-top: 80px;">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <img class="rounded-circle logo" src="img/logo.png" width="120" height="120">
                <h1>Streaming Learning</h1>
            </div>
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <input type="text" name="user" placeholder="User" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="date" placeholder="Fecha de nacimiento" autofocus>
                    </div>
                    <div class="form-group">
                        <a href="/signin" class="btn btn-outline-primary">SignIn</a>
                        <button type="submit" class="btn btn-outline-primary">SignUp</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-muted">
                © 2020
            </div>
        </div>
    </div>
</div>